pre {
    font-size: 1em;
    line-height: 1.2;
    padding: 15px;
    border-radius: 1em;
    margin-bottom: 20px;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
}

.src {
    color: #eeeeec;
    border: 1px solid;
    background-color: #2e3434;
    background-repeat: no-repeat;
    background-position: right top;
}

.example {
    border: 1px solid rgb(160, 160, 160);
    background-color: rgb(199, 199, 199);
}

.src-ruby {
    background-image: url("../images/src-ruby.png");
}

.src-sh {
    background-image: url("../images/src-sh.png");
}

.src-python {
    background-image: url("../images/src-python.png");
}

.org-anything-candidate-number {
    /* anything-candidate-number */
    color: #000000;
    background-color: #f57900;
}
.org-anything-header {
    /* anything-header */
    color: #edd400;
    background-color: #262626;
    font-weight: bold;
}
.org-bold {
    /* bold */
    font-weight: bold;
}
.org-bold-italic {
    /* bold-italic */
    font-weight: bold;
    font-style: italic;
}
.org-border {
}
.org-border-color {
    /* border-color */
    background-color: #EDEDED;
}
.org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    font-weight: bold;
}
.org-builtin {
    /* font-lock-builtin-face */
    color: #729fcf;
}
.org-calendar-today {
    /* calendar-today */
    text-decoration: underline;
}
.org-comint-highlight-input {
    /* comint-highlight-input */
    font-weight: bold;
}
.org-comint-highlight-prompt {
    /* comint-highlight-prompt */
    color: #729fcf;
    font-weight: bold;
}
.org-comment {
    /* font-lock-comment-face */
    color: #888a85;
    font-style: italic;
}
.org-compilation-column-number {
    /* compilation-column-number */
    color: #888a85;
    font-style: italic;
}
.org-compilation-error {
    /* compilation-error */
    color: #d55e00;
    font-weight: bold;
    font-style: italic;
}
.org-compilation-info {
    /* compilation-info */
    color: #009e73;
    font-weight: bold;
}
.org-compilation-line-number {
    /* compilation-line-number */
    color: #729fcf;
    font-weight: bold;
}
.org-compilation-mode-line-exit {
    /* compilation-mode-line-exit */
    color: #228b22;
    font-weight: bold;
}
.org-compilation-mode-line-fail {
    /* compilation-mode-line-fail */
    color: #ff0000;
    font-weight: bold;
    font-style: italic;
}
.org-compilation-mode-line-run {
    /* compilation-mode-line-run */
    color: #e69f00;
    font-weight: bold;
}
.org-compilation-warning {
    /* compilation-warning */
    color: #e69f00;
    font-weight: bold;
}
.org-completions-annotations {
    /* completions-annotations */
    font-style: italic;
}
.org-completions-common-part {
    /* completions-common-part */
    color: #eeeeec;
    background-color: #2e3434;
}
.org-completions-first-difference {
    /* completions-first-difference */
    font-weight: bold;
}
.org-constant {
    /* font-lock-constant-face */
    color: #8ae234;
    font-weight: bold;
}
.org-css-property {
    /* css-property */
    color: #ff6347;
    font-weight: bold;
}
.org-css-selector {
    /* css-selector */
    color: #edd400;
    font-weight: bold;
}
.org-cursor {
    /* cursor */
    color: #222222;
    background-color: #fce94f;
}
.org-custom-button {
    /* custom-button */
    color: #000000;
    background-color: #7f7f7f;
}
.org-custom-button-unraised {
    /* custom-button-unraised */
    color: #000000;
    background-color: #7f7f7f;
}
.org-custom-documentation {
    /* custom-documentation */
    font-style: italic;
}
.org-custom-face-tag {
    /* custom-face-tag */
    color: #edd400;
    font-size: 110%;
    font-weight: bold;
}
.org-custom-group-tag {
    /* custom-group-tag */
    color: #edd400;
    font-size: 130%;
    font-weight: bold;
}
.org-custom-state {
    /* custom-state-face */
    color: #729fcf;
}
.org-custom-variable-tag {
    /* custom-variable-tag */
    color: #edd400;
    font-size: 110%;
    font-weight: bold;
}
.org-diary {
    /* diary-face */
    color: #cd5c5c;
    font-weight: bold;
}
.org-diary-1 {
    /* diary */
    color: #cd5c5c;
    font-weight: bold;
}
.org-diff-added {
    /* diff-added */
    color: #8ae234;
    font-weight: bold;
}
.org-diff-context {
    /* diff-context */
    color: #888a85;
}
.org-diff-file-header {
    /* diff-file-header */
    color: #eeeeec;
    font-weight: bold;
}
.org-diff-header {
    /* diff-header */
    background-color: #4d4d4d;
}
.org-diff-hunk-header {
    /* diff-hunk-header */
    color: #edd400;
}
.org-diff-index {
    /* diff-index */
    color: #edd400;
    font-weight: bold;
}
.org-diff-refine-change {
    /* diff-refine-change */
    background-color: #4d4d4d;
    font-weight: bold;
}
.org-diff-removed {
    /* diff-removed */
    color: #f57900;
    font-weight: bold;
}
.org-dired-header {
    /* dired-header */
    color: #0084C8;
    font-weight: bold;
}
.org-doc {
    /* font-lock-doc-face */
    color: #888a85;
    font-style: italic;
}
.org-ecb-default-highlight {
    /* ecb-default-highlight-face */
    background-color: #729fcf;
}
.org-ecb-tag-header {
    /* ecb-tag-header-face */
    background-color: #f57900;
}
.org-ediff-current-diff-a {
    /* ediff-current-diff-A */
    background-color: #555753;
}
.org-ediff-current-diff-ancestor {
    /* ediff-current-diff-Ancestor */
    background-color: #555753;
}
.org-ediff-current-diff-b {
    /* ediff-current-diff-B */
    background-color: #555753;
}
.org-ediff-current-diff-c {
    /* ediff-current-diff-C */
    background-color: #555753;
}
.org-ediff-even-diff-a {
    /* ediff-even-diff-A */
    background-color: #4d4d4d;
}
.org-ediff-even-diff-ancestor {
    /* ediff-even-diff-Ancestor */
    background-color: #4d4d4d;
}
.org-ediff-even-diff-b {
    /* ediff-even-diff-B */
    background-color: #4d4d4d;
}
.org-ediff-even-diff-c {
    /* ediff-even-diff-C */
    background-color: #4d4d4d;
}
.org-ediff-fine-diff-a {
    /* ediff-fine-diff-A */
    background-color: #222222;
}
.org-ediff-fine-diff-ancestor {
    /* ediff-fine-diff-Ancestor */
    background-color: #222222;
}
.org-ediff-fine-diff-b {
    /* ediff-fine-diff-B */
    background-color: #222222;
}
.org-ediff-fine-diff-c {
    /* ediff-fine-diff-C */
    background-color: #222222;
}
.org-ediff-odd-diff-a {
    /* ediff-odd-diff-A */
    background-color: #4d4d4d;
}
.org-ediff-odd-diff-ancestor {
    /* ediff-odd-diff-Ancestor */
    background-color: #4d4d4d;
}
.org-ediff-odd-diff-b {
    /* ediff-odd-diff-B */
    background-color: #4d4d4d;
}
.org-ediff-odd-diff-c {
    /* ediff-odd-diff-C */
    background-color: #4d4d4d;
}
.org-erc-action {
    /* erc-action-face */
    color: #F5666D;
}
.org-erc-button {
    /* erc-button */
    color: #A8799C;
}
.org-erc-current-nick {
    /* erc-current-nick-face */
    color: #FF7092;
    font-weight: bold;
}
.org-erc-error {
    /* erc-error-face */
    color: #F5666D;
    font-weight: bold;
}
.org-erc-input {
    /* erc-input-face */
    color: #000000;
}
.org-erc-keyword {
    /* erc-keyword-face */
    color: #F5666D;
}
.org-erc-my-nick {
    /* erc-my-nick-face */
    color: #FF8CA7;
    font-weight: bold;
}
.org-erc-nick-default {
    /* erc-nick-default-face */
    color: #0084C8;
    font-weight: bold;
}
.org-erc-notice {
    /* erc-notice-face */
    color: #0084C8;
}
.org-erc-prompt {
    /* erc-prompt-face */
    color: #000000;
}
.org-erc-timestamp {
    /* erc-timestamp-face */
    color: #4CB64A;
}
.org-error {
    /* error */
    color: #d55e00;
    font-weight: bold;
    font-style: italic;
}
.org-escape-glyph {
    /* escape-glyph */
    color: #00ffff;
    background-color: #ffd700;
}
.org-eshell-ls-clutter {
    /* eshell-ls-clutter-face */
    color: #696969;
    font-weight: bold;
}
.org-eshell-ls-executable {
    /* eshell-ls-executable-face */
    color: #ff7f50;
    font-weight: bold;
}
.org-eshell-ls-missing {
    /* eshell-ls-missing-face */
    color: #000000;
    font-weight: bold;
}
.org-eshell-ls-special {
    /* eshell-ls-special-face */
    color: #ffd700;
    font-weight: bold;
}
.org-eshell-ls-symlink {
    /* eshell-ls-symlink-face */
    color: #ffffff;
    font-weight: bold;
}
.org-ess-jb-comment {
    /* ess-jb-comment-face */
    color: #888a85;
    background-color: #2e3436;
    font-style: italic;
}
.org-ess-jb-h1 {
    /* ess-jb-h1-face */
    color: #1e90ff;
    font-size: 160%;
}
.org-ess-jb-h2 {
    /* ess-jb-h2-face */
    color: #6ac214;
    font-size: 140%;
}
.org-ess-jb-h3 {
    /* ess-jb-h3-face */
    color: #edd400;
    font-size: 120%;
}
.org-ess-jb-hide {
    /* ess-jb-hide-face */
    color: #243436;
    background-color: #2e3436;
}
.org-ffap {
    /* ffap */
    color: #0072b2;
    background-color: #8b2323;
}
.org-file-name-shadow {
    /* file-name-shadow */
    color: #b3b3b3;
}
.org-flymake-errline {
    /* flymake-errline */
    color: #d55e00;
    font-weight: bold;
    font-style: italic;
}
.org-flymake-warnline {
    /* flymake-warnline */
    color: #e69f00;
    font-weight: bold;
}
.org-flyspell-duplicate {
    /* flyspell-duplicate */
    text-decoration: underline;
}
.org-flyspell-incorrect {
    /* flyspell-incorrect */
    text-decoration: underline;
}
.org-fringe {
    /* fringe */
    background-color: #1a1a1a;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #edd400;
    font-weight: bold;
}
.org-glyphless-char {
    /* glyphless-char */
    font-size: 60%;
}
.org-gnus-button {
    /* gnus-button */
    color: #00578E;
    font-weight: bold;
}
.org-gnus-cite-1 {
    /* gnus-cite-1 */
    color: #00578E;
}
.org-gnus-cite-2 {
    /* gnus-cite-2 */
    color: #0084C8;
}
.org-gnus-cite-face-1 {
    /* gnus-cite-face-1 */
    color: #ad7fa8;
}
.org-gnus-cite-face-2 {
    /* gnus-cite-face-2 */
    color: #8b4726;
}
.org-gnus-cite-face-3 {
    /* gnus-cite-face-3 */
    color: #8b864e;
}
.org-gnus-cite-face-4 {
    /* gnus-cite-face-4 */
    color: #668b8b;
}
.org-gnus-group-mail-1 {
    /* gnus-group-mail-1 */
    color: #e0ffff;
    font-weight: bold;
}
.org-gnus-group-mail-1-empty {
    /* gnus-group-mail-1-empty */
    color: #e0ffff;
}
.org-gnus-group-mail-1-low {
    /* gnus-group-mail-1-low */
    color: #d55e00;
}
.org-gnus-group-mail-2 {
    /* gnus-group-mail-2 */
    color: #40e0d0;
    font-weight: bold;
}
.org-gnus-group-mail-2-empty {
    /* gnus-group-mail-2-empty */
    color: #40e0d0;
}
.org-gnus-group-mail-2-low {
    /* gnus-group-mail-2-low */
    color: #e69f00;
}
.org-gnus-group-mail-3 {
    /* gnus-group-mail-3 */
    color: #edd400;
    font-weight: bold;
}
.org-gnus-group-mail-3-empty {
    /* gnus-group-mail-3-empty */
    color: #729fcf;
}
.org-gnus-group-mail-3-low {
    /* gnus-group-mail-3-low */
    color: #56b4e9;
}
.org-gnus-group-mail-low {
    /* gnus-group-mail-low */
    color: #1e90ff;
    font-weight: bold;
}
.org-gnus-group-mail-low-empty {
    /* gnus-group-mail-low-empty */
    color: #1e90ff;
}
.org-gnus-group-news-1 {
    /* gnus-group-news-1 */
    color: #e0ffff;
    font-weight: bold;
}
.org-gnus-group-news-1-empty {
    /* gnus-group-news-1-empty */
    color: #e0ffff;
}
.org-gnus-group-news-1-low {
    /* gnus-group-news-1-low */
    color: #d55e00;
}
.org-gnus-group-news-2 {
    /* gnus-group-news-2 */
    color: #40e0d0;
    font-weight: bold;
}
.org-gnus-group-news-2-empty {
    /* gnus-group-news-2-empty */
    color: #40e0d0;
}
.org-gnus-group-news-2-low {
    /* gnus-group-news-2-low */
    color: #e69f00;
}
.org-gnus-group-news-3 {
    /* gnus-group-news-3 */
    color: #edd400;
    font-weight: bold;
}
.org-gnus-group-news-3-empty {
    /* gnus-group-news-3-empty */
    color: #729fcf;
}
.org-gnus-group-news-3-low {
    /* gnus-group-news-3-low */
    color: #56b4e9;
}
.org-gnus-group-news-4 {
    /* gnus-group-news-4 */
    color: #cc79a7;
    font-weight: bold;
}
.org-gnus-group-news-4-empty {
}
.org-gnus-group-news-4-low {
    /* gnus-group-news-4-low */
    color: #cc79a7;
}
.org-gnus-group-news-5 {
    /* gnus-group-news-5 */
    color: #0072b2;
    font-weight: bold;
}
.org-gnus-group-news-5-empty {
}
.org-gnus-group-news-5-low {
    /* gnus-group-news-5-low */
    color: #0072b2;
}
.org-gnus-group-news-6 {
    /* gnus-group-news-6 */
    font-weight: bold;
}
.org-gnus-group-news-6-empty {
}
.org-gnus-group-news-low {
    /* gnus-group-news-low */
    color: #1e90ff;
    font-weight: bold;
}
.org-gnus-group-news-low-empty {
    /* gnus-group-news-low-empty */
    color: #1e90ff;
}
.org-gnus-header-content {
    /* gnus-header-content */
    color: #8ae234;
    font-style: italic;
}
.org-gnus-header-from {
    /* gnus-header-from */
    color: #edd400;
    font-weight: bold;
}
.org-gnus-header-name {
    /* gnus-header-name */
    color: #729fcf;
    font-weight: bold;
}
.org-gnus-header-newsgroups {
    /* gnus-header-newsgroups */
    color: #8db6cd;
    font-weight: bold;
    font-style: italic;
}
.org-gnus-header-subject {
    /* gnus-header-subject */
    color: #edd400;
    font-weight: bold;
}
.org-gnus-signature {
    /* gnus-signature */
    color: #a9a9a9;
    font-style: italic;
}
.org-gnus-splash {
    /* gnus-splash */
    color: #cccccc;
}
.org-gnus-summary-cancelled {
    /* gnus-summary-cancelled */
    color: #ffff00;
    background-color: #000000;
}
.org-gnus-summary-high-ancient {
    /* gnus-summary-high-ancient */
    color: rotal blue;
    font-weight: bold;
}
.org-gnus-summary-high-read {
    /* gnus-summary-high-read */
    color: #32cd32;
    font-weight: bold;
}
.org-gnus-summary-high-ticked {
    /* gnus-summary-high-ticked */
    color: #ff6347;
    font-weight: bold;
}
.org-gnus-summary-high-undownloaded {
    /* gnus-summary-high-undownloaded */
    color: #d3d3d3;
    font-weight: bold;
}
.org-gnus-summary-high-unread {
    /* gnus-summary-high-unread */
    color: #ffffff;
    font-weight: bold;
}
.org-gnus-summary-low-ancient {
    /* gnus-summary-low-ancient */
    color: #32cd32;
    font-style: italic;
}
.org-gnus-summary-low-read {
    /* gnus-summary-low-read */
    color: #4169e1;
    font-style: italic;
}
.org-gnus-summary-low-ticked {
    /* gnus-summary-low-ticked */
    color: #8b0000;
    font-style: italic;
}
.org-gnus-summary-low-undownloaded {
    /* gnus-summary-low-undownloaded */
    color: #008b8b;
    font-style: italic;
}
.org-gnus-summary-low-unread {
    /* gnus-summary-low-unread */
    color: #ffffff;
    font-style: italic;
}
.org-gnus-summary-normal-ancient {
    /* gnus-summary-normal-ancient */
    color: #4169e1;
}
.org-gnus-summary-normal-read {
    /* gnus-summary-normal-read */
    color: #32cd32;
}
.org-gnus-summary-normal-ticked {
    /* gnus-summary-normal-ticked */
    color: #cd5c5c;
}
.org-gnus-summary-normal-undownloaded {
    /* gnus-summary-normal-undownloaded */
    color: #008b8b;
}
.org-gnus-summary-normal-unread {
    /* gnus-summary-normal-unread */
    color: #ffffff;
}
.org-gnus-summary-selected {
    /* gnus-summary-selected */
    color: #ffffff;
    background-color: #8b2323;
    text-decoration: underline;
}
.org-help-argument-name {
    /* help-argument-name */
    font-style: italic;
}
.org-highlight {
    /* highlight */
    color: #0072b2;
    background-color: #8b2323;
}
.org-holiday {
    /* holiday */
    background-color: #8b4513;
}
.org-idle-highlight {
    /* idle-highlight */
    background-color: #483d8b;
}
.org-ido-first-match {
    /* ido-first-match */
    font-weight: bold;
}
.org-ido-incomplete-regexp {
    /* ido-incomplete-regexp */
    color: #f57900;
    font-weight: bold;
    font-style: italic;
}
.org-ido-indicator {
    /* ido-indicator */
    color: #ffff00;
    background-color: #ff0000;
}
.org-ido-only-match {
    /* ido-only-match */
    color: #228b22;
}
.org-ido-subdir {
    /* ido-subdir */
    color: #ff0000;
}
.org-ido-virtual {
    /* ido-virtual */
    color: #729fcf;
}
.org-info-header-node {
    /* info-header-node */
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}
.org-info-header-xref {
    /* info-header-xref */
    color: #729fcf;
    text-decoration: underline;
}
.org-info-menu-header {
    /* info-menu-header */
    font-weight: bold;
}
.org-info-menu-star {
    /* info-menu-star */
    color: #ff0000;
}
.org-info-node {
    /* info-node */
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}
.org-info-title-1 {
    /* info-title-1 */
    font-size: 172%;
    font-weight: bold;
}
.org-info-title-2 {
    /* info-title-2 */
    font-size: 144%;
    font-weight: bold;
}
.org-info-title-3 {
    /* info-title-3 */
    font-size: 120%;
    font-weight: bold;
}
.org-info-title-4 {
    /* info-title-4 */
    font-weight: bold;
}
.org-info-xref {
    /* info-xref */
    color: #729fcf;
    text-decoration: underline;
}
.org-isearch {
    /* isearch */
    color: #2e3436;
    background-color: #f57900;
}
.org-isearch-fail {
    /* isearch-fail */
    background-color: #8b0000;
}
.org-italic {
    /* italic */
    font-style: italic;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #729fcf;
    font-weight: bold;
}
.org-lazy-highlight {
    /* lazy-highlight */
    color: #2e3436;
    background-color: #e9b96e;
}
.org-link {
    /* link */
    color: #1e90ff;
    text-decoration: underline;
}
.org-magit-branch {
    /* magit-branch */
    color: #0084C8;
    font-weight: bold;
}
.org-magit-diff-add {
    /* magit-diff-add */
    color: #729fcf;
    font-weight: bold;
}
.org-magit-diff-del {
    /* magit-diff-del */
    color: #F5666D;
}
.org-magit-header {
    /* magit-header */
    color: #edd400;
}
.org-magit-item-highlight {
    /* magit-item-highlight */
    background-color: #FEFFBF;
}
.org-magit-log-head-label-local {
    /* magit-log-head-label-local */
    color: #4F78B5;
}
.org-magit-log-head-label-remote {
    /* magit-log-head-label-remote */
    color: #4CB64A;
}
.org-magit-log-sha1 {
    /* magit-log-sha1 */
    color: #FF7092;
}
.org-magit-section-title {
    /* magit-section-title */
    color: #00578E;
    font-weight: bold;
}
.org-match {
    /* match */
    color: #2e3436;
    background-color: #e9b96e;
    font-weight: bold;
}
.org-menu {
}
.org-message-cited-text {
    /* message-cited-text */
    color: #edd400;
    font-style: italic;
}
.org-message-header-cc {
    /* message-header-cc */
    color: #ffffff;
    font-weight: bold;
}
.org-message-header-name {
    /* message-header-name */
    color: #ff6347;
}
.org-message-header-newsgroups {
    /* message-header-newsgroups */
    color: #8db6cd;
    font-weight: bold;
    font-style: italic;
}
.org-message-header-other {
    /* message-header-other */
    color: #8db6cd;
}
.org-message-header-subject {
    /* message-header-subject */
    color: #ffffff;
}
.org-message-header-to {
    /* message-header-to */
    color: #ffffff;
    font-weight: bold;
}
.org-message-header-xheader {
    /* message-header-xheader */
    color: #1874cd;
}
.org-message-mml {
    /* message-mml */
    color: #00fa9a;
}
.org-message-separator {
    /* message-separator */
    color: #cc79a7;
    font-weight: bold;
}
.org-minibuffer-prompt {
    /* minibuffer-prompt */
    color: #729fcf;
    font-weight: bold;
}
.org-mode-line {
    /* mode-line */
    color: #1F1611;
    background-color: #EFAC32;
}
.org-mode-line-buffer-id {
    /* mode-line-buffer-id */
    color: #ffa500;
    font-weight: bold;
    text-decoration: underline;
    text-decoration: overline;
}
.org-mode-line-emphasis {
    /* mode-line-emphasis */
    font-weight: bold;
}
.org-mode-line-highlight {
}
.org-mode-line-inactive {
    /* mode-line-inactive */
    color: #f9f9f9;
    background-color: #654D4D;
}
.org-mouse {
}
.org-mumamo-background-chunk-major {
}
.org-mumamo-background-chunk-submode1 {
    /* mumamo-background-chunk-submode1 */
    background-color: #2E3440;
}
.org-mumamo-background-chunk-submode2 {
    /* mumamo-background-chunk-submode2 */
    background-color: #2E4034;
}
.org-mumamo-background-chunk-submode3 {
    /* mumamo-background-chunk-submode3 */
    background-color: #343434;
}
.org-negation-char {
}
.org-nobreak-space {
    /* nobreak-space */
    color: #00ffff;
    background-color: #ffd700;
    text-decoration: underline;
}
.org-org-agenda-calendar-event {
    /* org-agenda-calendar-event */
    color: #eeeeec;
    background-color: #2e3434;
}
.org-org-agenda-calendar-sexp {
    /* org-agenda-calendar-sexp */
    color: #eeeeec;
    background-color: #2e3434;
}
.org-org-agenda-clocking {
    /* org-agenda-clocking */
    color: #000000;
    background-color: #4a708b;
}
.org-org-agenda-column-dateline {
    /* org-agenda-column-dateline */
    background-color: #e5e5e5;
}
.org-org-agenda-current-time {
    /* org-agenda-current-time */
    color: #eedd82;
}
.org-org-agenda-date {
    /* org-agenda-date */
    color: #6ac214;
}
.org-org-agenda-date-today {
    /* org-agenda-date-today */
    color: #edd400;
    font-weight: bold;
}
.org-org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #1e90ff;
}
.org-org-agenda-diary {
    /* org-agenda-diary */
    color: #eeeeec;
    background-color: #2e3434;
}
.org-org-agenda-dimmed-todo {
    /* org-agenda-dimmed-todo-face */
    color: #7f7f7f;
}
.org-org-agenda-done {
    /* org-agenda-done */
    color: #98fb98;
}
.org-org-agenda-filter-category {
    /* org-agenda-filter-category */
    color: #1F1611;
    background-color: #EFAC32;
}
.org-org-agenda-filter-tags {
    /* org-agenda-filter-tags */
    color: #1F1611;
    background-color: #EFAC32;
}
.org-org-agenda-restriction-lock {
    /* org-agenda-restriction-lock */
    background-color: #4a708b;
}
.org-org-agenda-structure {
    /* org-agenda-structure */
    color: #ff6347;
    font-weight: bold;
}
.org-org-archived {
    /* org-archived */
    color: #b3b3b3;
}
.org-org-block {
    /* org-block */
    color: #bbbbbc;
}
.org-org-block-background {
    /* org-block-background */
    background-color: #252b2b;
}
.org-org-block-begin-line {
    /* org-block-begin-line */
    color: #888a85;
    background-color: #252b2b;
}
.org-org-block-end-line {
    /* org-block-end-line */
    color: #888a85;
    background-color: #252b2b;
}
.org-org-checkbox {
    /* org-checkbox */
    font-weight: bold;
}
.org-org-checkbox-statistics-done {
    /* org-checkbox-statistics-done */
    color: #228b22;
    font-weight: bold;
}
.org-org-checkbox-statistics-todo {
    /* org-checkbox-statistics-todo */
    color: #ff0000;
    font-weight: bold;
}
.org-org-clock-overlay {
    /* org-clock-overlay */
    background-color: #4a708b;
}
.org-org-code {
    /* org-code */
    color: #b3b3b3;
}
.org-org-column {
    /* org-column */
    background-color: #e5e5e5;
}
.org-org-column-title {
    /* org-column-title */
    background-color: #4d4d4d;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-date {
    /* org-date */
    color: #cd00cd;
    text-decoration: underline;
}
.org-org-date-selected {
    /* org-date-selected */
    color: #ffc0cb;
}
.org-org-default {
    /* org-default */
    color: #eeeeec;
    background-color: #2e3434;
}
.org-org-document-info {
    /* org-document-info */
    color: #afeeee;
}
.org-org-document-info-keyword {
    /* org-document-info-keyword */
    color: #b3b3b3;
}
.org-org-document-title {
    /* org-document-title */
    color: #afeeee;
    font-weight: bold;
}
.org-org-done {
    /* org-done */
    color: #228b22;
    font-weight: bold;
}
.org-org-drawer {
    /* org-drawer */
    color: #87cefa;
}
.org-org-ellipsis {
    /* org-ellipsis */
    color: #eedd82;
    text-decoration: underline;
}
.org-org-footnote {
    /* org-footnote */
    color: #cd00cd;
    text-decoration: underline;
}
.org-org-formula {
    /* org-formula */
    color: #ff7f24;
}
.org-org-headline-done {
    /* org-headline-done */
    color: #ffa07a;
}
.org-org-hide {
    /* org-hide */
    color: #2e3436;
}
.org-org-latex-and-export-specials {
    /* org-latex-and-export-specials */
    color: #deb887;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #1e90ff;
    font-size: 150%;
    font-weight: bold;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #edd400;
    font-size: 120%;
    font-weight: bold;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #6ac214;
    font-weight: bold;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #ff6347;
    font-style: italic;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #8ae234;
    font-weight: bold;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #8ae234;
    font-weight: bold;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #729fcf;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #ad7fa8;
    font-style: italic;
}
.org-org-link {
    /* org-link */
    color: #7ec0ee;
    background-color: #2e3436;
}
.org-org-list-dt {
    /* org-list-dt */
    font-weight: bold;
}
.org-org-meta-line {
    /* org-meta-line */
    color: #888a85;
    font-style: italic;
}
.org-org-mode-line-clock {
    /* org-mode-line-clock */
    color: #1F1611;
    background-color: #EFAC32;
}
.org-org-mode-line-clock-overrun {
    /* org-mode-line-clock-overrun */
    color: #1F1611;
    background-color: #ff0000;
}
.org-org-property-value {
}
.org-org-quote {
    /* org-quote */
    color: #bbbbbc;
    font-style: italic;
}
.org-org-scheduled {
    /* org-scheduled */
    color: #98fb98;
}
.org-org-scheduled-previously {
    /* org-scheduled-previously */
    color: #ff7f24;
}
.org-org-scheduled-today {
    /* org-scheduled-today */
    color: #98fb98;
}
.org-org-sexp-date {
    /* org-sexp-date */
    color: #00ffff;
}
.org-org-special-keyword {
    /* org-special-keyword */
    color: #a52a2a;
    font-weight: bold;
}
.org-org-table {
    /* org-table */
    color: #87cefa;
}
.org-org-tag {
    /* org-tag */
    font-weight: bold;
}
.org-org-target {
    /* org-target */
    text-decoration: underline;
}
.org-org-time-grid {
    /* org-time-grid */
    color: #eedd82;
}
.org-org-todo {
    /* org-todo */
    color: #ff0000;
    font-weight: bold;
}
.org-org-upcoming-deadline {
    /* org-upcoming-deadline */
    color: #ff7f24;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #eeeeec;
    font-style: italic;
    text-decoration: underline;
}
.org-org-verse {
    /* org-verse */
    color: #bbbbbc;
    font-style: italic;
}
.org-org-warning {
    /* org-warning */
    color: #f57900;
    font-weight: bold;
    font-style: italic;
}
.org-outline-1 {
    /* outline-1 */
    color: #edd400;
    font-weight: bold;
}
.org-outline-2 {
    /* outline-2 */
    color: #ff6347;
    font-weight: bold;
}
.org-outline-3 {
    /* outline-3 */
    color: #729fcf;
    font-weight: bold;
}
.org-outline-4 {
    /* outline-4 */
    color: #888a85;
    font-style: italic;
}
.org-outline-5 {
    /* outline-5 */
    color: #8ae234;
    font-weight: bold;
}
.org-outline-6 {
    /* outline-6 */
    color: #8ae234;
    font-weight: bold;
}
.org-outline-7 {
    /* outline-7 */
    color: #729fcf;
}
.org-outline-8 {
    /* outline-8 */
    color: #ad7fa8;
    font-style: italic;
}
.org-region {
    /* region */
    background-color: #483d8b;
}
.org-rpm-spec-dir {
    /* rpm-spec-dir-face */
    color: #8ae234;
}
.org-rpm-spec-doc {
    /* rpm-spec-doc-face */
    color: #888a85;
}
.org-rpm-spec-ghost {
    /* rpm-spec-ghost-face */
    color: #ff6347;
}
.org-rpm-spec-macro {
    /* rpm-spec-macro-face */
    color: #edd400;
}
.org-rpm-spec-obsolete-tag {
    /* rpm-spec-obsolete-tag-face */
    color: #ee3436;
    background-color: #f57900;
    font-weight: bold;
}
.org-rpm-spec-package {
    /* rpm-spec-package-face */
    color: #ff6347;
}
.org-rpm-spec-section {
    /* rpm-spec-section-face */
    color: #8ae234;
    font-weight: bold;
    text-decoration: underline;
}
.org-rpm-spec-tag {
    /* rpm-spec-tag-face */
    color: #1e90ff;
    font-weight: bold;
}
.org-rpm-spec-var {
    /* rpm-spec-var-face */
    color: #ff6347;
}
.org-scroll-bar {
}
.org-secondary-selection {
    /* secondary-selection */
    color: #000000;
    background-color: #4a708b;
}
.org-shadow {
    /* shadow */
    color: #b3b3b3;
}
.org-show-paren-match {
    /* show-paren-match */
    color: #2e3436;
    background-color: #73d216;
}
.org-show-paren-mismatch {
    /* show-paren-mismatch */
    color: #2e3436;
    background-color: #ad7fa8;
}
.org-string {
    /* font-lock-string-face */
    color: #ad7fa8;
    font-style: italic;
}
.org-success {
    /* success */
    color: #009e73;
    font-weight: bold;
}
.org-table-cell {
    /* table-cell */
    color: #e5e5e5;
    background-color: #0000ff;
}
.org-tool-bar {
    /* tool-bar */
    color: #000000;
    background-color: #bfbfbf;
}
.org-trailing-whitespace {
    /* trailing-whitespace */
    background-color: #ff0000;
}
.org-type {
    /* font-lock-type-face */
    color: #8ae234;
    font-weight: bold;
}
.org-underline {
    /* underline */
    text-decoration: underline;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #ff6347;
    font-weight: bold;
}
.org-variable-pitch {
}
.org-vertical-border {
}
.org-warning {
    /* warning */
    color: #e69f00;
    font-weight: bold;
}
.org-warning-1 {
    /* font-lock-warning-face */
    color: #f57900;
    font-weight: bold;
    font-style: italic;
}
.org-widget-button {
    /* widget-button */
    color: #0084C8;
    font-weight: bold;
}
.org-widget-button-pressed {
    /* widget-button-pressed */
    color: #ff0000;
}
.org-widget-documentation {
    /* widget-documentation */
    color: #32cd32;
}
.org-widget-field {
    /* widget-field */
    color: #ffa500;
    background-color: #4d4d4d;
}
.org-widget-inactive {
    /* widget-inactive */
    color: #b3b3b3;
}
.org-widget-mouse {
    /* widget-mouse-face */
    color: #ffffff;
    background-color: #8b2323;
    font-weight: bold;
}
.org-widget-single-line-field {
    /* widget-single-line-field */
    color: #ffa500;
    background-color: #4d4d4d;
}

.src a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
.src a:hover {
    text-decoration: underline;
}
