@import "app";

#content {
    border-top: 7px solid $dd-grey;
    padding-top: 1%;
}

#content h1 {
    padding-bottom: 30px
}

#content h1 h2 h3 {
    font-weight: 400;
}

#byline {
    font-size: 0.75em;
    color: $d-grey;
    margin: 10px 0px;
}

#table-of-contents h2 {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 1em;
}

#table-of-contents a {
    font-size: 0.75em;
    color: $d-grey;
    margin: 10px 0px;
}

#table-of-contents li {
    transition: background 0.25s;
    -webkit-transition: background 0.25s;
    border-bottom: 1px dotted #ced8df;
    list-style: none;
}

#table-of-contents li:last-of-type {
    border-bottom: 0;
}

@media #{$small} {
    #sidebar {
        position: fixed; top: 0; bottom: 0; left: 0; overflow-x: hidden;
        border-top: 7px solid $dd-grey;
        padding-top: 1%;
    }

    #table-of-contents .outline-3-scroll-selected {
        background: #D2D2D2;
    }

    #table-of-contents .outline-2-scroll-selected {
        background: #E0E0E0;
    }
}


#sidebar #logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.side-navigation > div {
    padding-bottom: 10px;
}

#sidebar a {
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
}

.side-navigation a {
    color: #222;
}

.side-navigation a:hover {
    color: $green;
}


