<% wrap_layout :site do %>
<div class="row">
  <div class="small-12 large-10 large-centered small-centered columns wrapper">

    <div class="header">
      <a href="/">
        <%= tag :img, :src => "/images/logo_large.gif" %>
      </a>
    </div>

    <nav id="front-nav">
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/slides">Slides</a></li>
        <li><a href="/papers">Papers</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <div class="content">
      <%= yield %>
    </div>
    
  </div>
</div>
<% end %>

