<h2>I'm Rob Syme</h2>

<p>I'm a PhD student. My research is focused on the pathogen
Stagonospora nodorum, a fungus which infects wheat. S. nodorum is
responsible for about $100m a year in losses in Australia alone.</p>

<p>It's not hard to find me on the net if you're really that curious.
  Most of what I do is public.</p>

<ul>
  <li><%= link_to "Google+", 'http://plus.google.com/114214244051573894881' %>
  <li><%= link_to "twitter.com/robsyme", 'http://twitter.com/robsyme' %>
  <li><%= link_to "facebook.com/robsyme", 'http://facebook.com/robsyme' %>
  <li><%= link_to "reddit.com/u/robsyme", 'http://www.reddit.com/user/robsyme' %>
</ul>

